* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    min-height: 10vh;
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 30px;
}

body {
    display:grid;
    place-items: center;
    font-family: sans-serif;
}

section {
    width: 90%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

article {
    width:90%;
    display: grid;
    row-gap: 12px;
    place-items: center;
}

img {
    width:200px;
    height:150px;
    object-fit: cover;
}
